.search__subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 90%;
  margin: 32px 0 0 0;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .search__subtitle {
    margin-top: 16px;
    width: 90%;
  }
}

@media screen and (min-width: 661px) and (max-width: 767px) {
  .search__subtitle {
    margin-top: 16px;
    width: 80%;
  }
}

@media screen and (min-width: 320px) and (max-width: 660px) {
  .search__subtitle {
    font-size: 20px;
    line-height: 26px;
    margin-top: 16px;
  }
}

