.technologies__block-img {
  width: 60%;
  margin: 4% 0 0 12%;
}

@media screen and (max-width: 1254px) and (min-width: 587px) {
  .technologies__block-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 586px) and (min-width: 400px) {
  .technologies__block-img {
    width: 68%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 399px) and (min-width: 320px) {
  .technologies__block-img {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}



