.results__image {
 /* height: 272px; */
 height: 47%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

@media screen and (min-width: 586px) and (max-width: 999px) {
  .results__image {
    height: 150px;
  }
}

@media screen and (min-width: 320px) and (max-width: 586px) {
  .results__image {
    height: 196px;
  }
}
