.swiper-button {
  background: linear-gradient(to left, rgba(245, 246, 247, 0), #F5F6F7);
  top: 0;
  left: 0;
  right: auto;
  width: 5%;
  height: 100%;
}

.swiper-button:after {
  font-size: 13px;
  color: #FFFFFF;
  width: 40px;
  height: 13%;
  background: #1A1B22;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.swiper-button:last-child {
  background: linear-gradient(to right, rgba(245, 246, 247, 0), #F5F6F7);
  top: 0;
  right: 0;
  left: auto;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .swiper-button:after {
    display: none;
  }

  .swiper-button {
    display: none;
  }
}
