@import url(./_hidden/commit-history__link_hidden.css);
@import url(./_visible/commit-history__link_visible.css);

.commit-history__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}


