@import url(./__button/results__button.css);
@import url(./__card/results__card.css);
@import url(./__container/results__container.css);
@import url(./__date/results__date.css);
@import url(./__description/results__description.css);
@import url(./__image/results__image.css);
@import url(./__link-analytics/results__link-analytics.css);
@import url(./__list/results__list.css);
@import url(./__source/results__source.css);
@import url(./__subtitle/results__subtitle.css);
@import url(./__text/results__text.css);
@import url(./__title/results__title.css);

.results {
  background: #F5F6F7;
  padding: 6% 7% 6% 7%;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 1423px) and (min-width: 1000px) {
  .results {
    padding: 40px;
  }
}

@media screen and (max-width: 999px) and (min-width: 768px) {
  .results {
    padding: 35px 40px;
  }
}

@media screen and (max-width: 767px) and (min-width: 586px) {
  .results {
    padding: 35px 15px;
  }
}

@media screen and (max-width: 586px) and (min-width: 320px) {
  .results {
    padding: 32px 16px 44px;
}
}
